@font-face {
  font-family: 'pokemon';
  src: url("../public/pokemon.ttf"); }
@keyframes fadeout {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
.fadeout {
  animation: fadeout 1s ease-out forwards; }

@keyframes fadein {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.fadein {
  animation: fadein 2s ease-in forwards; }

@keyframes open {
  0% {
    height: 0; }
  100% {
    height: 68%; } }
.open {
  animation: open 1.5s ease-out forwards; }

@keyframes close {
  0% {
    height: 68%; }
  100% {
    height: 0; } }
.close {
  animation: close 0.3s ease-in forwards; }

@keyframes wobble-more {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  15% {
    -webkit-transform: translate3d(-12%, 0, 0) rotate3d(0, 0, 1, -5deg);
    transform: translate3d(-12%, 0, 0) rotate3d(0, 0, 1, -5deg); }
  30% {
    -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 3deg);
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 3deg); }
  45% {
    -webkit-transform: translate3d(-7%, 0, 0) rotate3d(0, 0, 1, -3deg);
    transform: translate3d(-7%, 0, 0) rotate3d(0, 0, 1, -3deg); }
  60% {
    -webkit-transform: translate3d(5%, 0, 0) rotate3d(0, 0, 1, 2deg);
    transform: translate3d(5%, 0, 0) rotate3d(0, 0, 1, 2deg); }
  75% {
    -webkit-transform: translate3d(-2%, 0, 0) rotate3d(0, 0, 1, -1deg);
    transform: translate3d(-2%, 0, 0) rotate3d(0, 0, 1, -1deg); }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
.wobble-more {
  animation: wobble-more 1s; }

@keyframes wobble-less {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  15% {
    -webkit-transform: translate3d(-6%, 0, 0) rotate3d(0, 0, 1, -5deg);
    transform: translate3d(-6%, 0, 0) rotate3d(0, 0, 1, -5deg); }
  30% {
    -webkit-transform: translate3d(5%, 0, 0) rotate3d(0, 0, 1, 3deg);
    transform: translate3d(5%, 0, 0) rotate3d(0, 0, 1, 3deg); }
  45% {
    -webkit-transform: translate3d(-3%, 0, 0) rotate3d(0, 0, 1, -3deg);
    transform: translate3d(-3%, 0, 0) rotate3d(0, 0, 1, -3deg); }
  60% {
    -webkit-transform: translate3d(2%, 0, 0) rotate3d(0, 0, 1, 2deg);
    transform: translate3d(2%, 0, 0) rotate3d(0, 0, 1, 2deg); }
  75% {
    -webkit-transform: translate3d(-1%, 0, 0) rotate3d(0, 0, 1, -1deg);
    transform: translate3d(-1%, 0, 0) rotate3d(0, 0, 1, -1deg); }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
.wobble-less {
  animation: wobble-less 1s; }

@keyframes slide-up {
  0% {
    margin-top: 15%; }
  100% {
    margin-top: 0; } }
.slide-up {
  animation: slide-up 1s forwards; }

.normal {
  background-color: #a8a878;
  color: #eee;
  padding: 6px;
  border-radius: 10px; }

.fighting {
  background-color: #c03028;
  color: #eee;
  padding: 6px;
  border-radius: 10px; }

.flying {
  background-color: #a890f0;
  color: #eee;
  padding: 6px;
  border-radius: 10px; }

.poison {
  background-color: #a040a0;
  color: #eee;
  padding: 6px;
  border-radius: 10px; }

.ground {
  background-color: #e0c068;
  color: #eee;
  padding: 6px;
  border-radius: 10px; }

.rock {
  background-color: #b8a038;
  color: #eee;
  padding: 6px;
  border-radius: 10px; }

.bug {
  background-color: #a8b820;
  color: #eee;
  padding: 6px;
  border-radius: 10px; }

.ghost {
  background-color: #705898;
  color: #eee;
  padding: 6px;
  border-radius: 10px; }

.steel {
  background-color: #b8b8d0;
  color: #eee;
  padding: 6px;
  border-radius: 10px; }

.fire {
  background-color: #f08030;
  color: #eee;
  padding: 6px;
  border-radius: 10px; }

.water {
  background-color: #6890f0;
  color: #eee;
  padding: 6px;
  border-radius: 10px; }

.grass {
  background-color: #78c850;
  color: #eee;
  padding: 6px;
  border-radius: 10px; }

.electric {
  background-color: #f8d030;
  color: #eee;
  padding: 6px;
  border-radius: 10px; }

.psychic {
  background-color: #f85888;
  color: #eee;
  padding: 6px;
  border-radius: 10px; }

.ice {
  background-color: #98d8d8;
  color: #eee;
  padding: 6px;
  border-radius: 10px; }

.dragon {
  background-color: #7038f8;
  color: #eee;
  padding: 6px;
  border-radius: 10px; }

.dark {
  background-color: #705848;
  color: #eee;
  padding: 6px;
  border-radius: 10px; }

.fairy {
  background-color: #ee99ac;
  color: #eee;
  padding: 6px;
  border-radius: 10px; }

#start {
  left: auto;
  right: auto;
  font-family: 'pokemon';
  background: rgba(188, 188, 188, 0.9);
  width: 75%;
  margin: 20px auto;
  padding: 10px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  #start #info {
    display: flex;
    flex-direction: column;
    align-items: center; }
  #start #start-name {
    padding: 5px; }
  #start #start-btn {
    border-radius: 20px;
    padding: 5px 10px; }
    #start #start-btn:hover {
      background: #ddd; }
    #start #start-btn:focus {
      outline: none; }

#pokedex {
  height: 0;
  display: flex;
  flex-direction: column;
  align-items: center; }

.pokedex-shell {
  display: flex;
  border: 5px solid red;
  justify-content: center;
  border-right: 2px solid red;
  min-height: 100px;
  max-height: 166px;
  max-width: 550px;
  height: 16%;
  width: 100%; }

#top {
  z-index: 1;
  background: linear-gradient(170deg, #ff8686, red);
  border-top: 3px solid red;
  border-radius: 10px 10px 0 0;
  border-bottom: 1px solid #000086; }
  #top #top-left {
    margin-right: auto;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 2em;
    margin-top: 10px;
    word-break: break-all;
    white-space: nowrap;
    color: palegoldenrod; }
  #top #power-container {
    margin-left: auto;
    margin-right: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center; }
    #top #power-container #power {
      color: palegoldenrod;
      font-size: 4.6em; }
      #top #power-container #power:hover {
        color: white; }
  #top #half-circle-top {
    position: absolute;
    align-self: flex-end;
    width: 100px;
    height: 50px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    background: linear-gradient(to left, red, #ff7e7e);
    border: 2px solid black; }
  #top .smaller-half-circle {
    margin: 57% auto 0 auto;
    width: 22px;
    height: 22px;
    background-color: white;
    border-radius: 25px;
    border: 3px solid black; }

#bottom {
  width: 100%;
  border-right: 2px solid red;
  border-bottom: 2px solid red;
  background: linear-gradient(to left, red, #f05252);
  border-top: 3px;
  border-radius: 0 0 20px 20px; }
  #bottom #bottom-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; }
    #bottom #bottom-center #half-circle-bottom {
      background-color: white;
      width: 100px;
      height: 50px;
      border-bottom-left-radius: 50px;
      border-bottom-right-radius: 50px;
      border: 2px solid black;
      border-top: 1px solid black; }
      #bottom #bottom-center #half-circle-bottom .smaller-half-circle {
        margin: 0 auto -20% auto;
        width: 20px;
        height: 10px;
        background-color: #4e4e4e;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top: 0; }
    #bottom #bottom-center #pokemon-list-btn-container {
      margin-bottom: 10px; }
      #bottom #bottom-center #pokemon-list-btn-container #pokemon-list-btn {
        border-radius: 15px;
        padding: 8 12px; }
        #bottom #bottom-center #pokemon-list-btn-container #pokemon-list-btn:focus {
          outline: none; }

#middle {
  height: 68%;
  background-color: rgba(173, 216, 230, 0.84);
  border-left: 6px solid #75cbe6;
  max-width: 550px;
  width: 100%;
  overflow: auto; }

#search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3% 0;
  font-family: 'pokemon';
  white-space: nowrap; }
  #search #select {
    height: 30px;
    margin: 0 3%; }
    #search #select:focus {
      outline: none; }
  #search form {
    display: flex;
    justify-content: space-evenly;
    width: 70%; }
    #search form input {
      padding: 5px;
      width: 55%; }
    #search form #search-btn {
      width: 27%;
      border-radius: 10px;
      padding: 5px 8px;
      background-color: #8f8;
      border: 1px solid green; }
      #search form #search-btn:hover {
        background-color: #0f0; }
      #search form #search-btn:focus {
        outline: none; }
      #search form #search-btn:active {
        background-color: green; }

#id-name-type-container {
  display: flex;
  width: 90%;
  justify-content: space-between;
  margin: 0 auto;
  font-family: 'pokemon';
  white-space: nowrap; }

#pokemon-list {
  overflow: auto;
  margin: 20px; }
  #pokemon-list #filter-btn {
    display: block;
    margin: 10px auto;
    border-radius: 10px;
    margin-bottom: 20px; }
    #pokemon-list #filter-btn:focus {
      outline: none; }

#img-and-description {
  display: flex;
  width: 100%; }
  #img-and-description #img-container {
    margin-left: 5%;
    padding: 0;
    border: 1px solid black;
    max-width: 180px; }
    #img-and-description #img-container #img {
      width: 100%; }
  #img-and-description #description-container {
    width: 100%;
    border: 1px solid black;
    display: flex;
    align-items: center; }
    #img-and-description #description-container #description {
      margin-top: 3px;
      font-family: 'pokemon';
      font-size: 0.9em; }

#stats {
  font-family: 'pokemon';
  margin: 2% 4%; }
  #stats #hp-container {
    background: #f87171;
    border-radius: 10px; }
    #stats #hp-container #hp {
      background: red;
      white-space: nowrap;
      border-radius: 15px;
      padding: 5px 10px 5px 15px; }
  #stats #atk-container {
    background: darkorange;
    border-radius: 10px; }
    #stats #atk-container #atk {
      white-space: nowrap;
      background: #d37000;
      border-radius: 15px;
      padding: 5px 10px 5px 15px; }
  #stats #def-container {
    background: #e6e665;
    border-radius: 10px; }
    #stats #def-container #def {
      white-space: nowrap;
      border-radius: 10px;
      background: gold;
      border-radius: 15px;
      padding: 5px 10px 5px 15px; }
  #stats #abil-container {
    width: 100%;
    background-color: lightseagreen;
    border-radius: 10px;
    padding-top: 5px; }
    #stats #abil-container span {
      text-decoration: underline;
      margin-left: 10px;
      margin-bottom: 3px; }
    #stats #abil-container #abil {
      margin-top: 3px;
      margin-left: 10px; }
  #stats #moves-height-weight {
    display: flex;
    justify-content: space-between; }
    #stats #moves-height-weight #moves-container {
      display: flex;
      background: pink;
      width: 56%;
      padding: 10px 0 10px 5px;
      border-radius: 20px;
      height: 137px; }
      #stats #moves-height-weight #moves-container #moves-btn {
        border-radius: 20px;
        padding: 10px 5px;
        margin-right: 15px;
        background: #f3516c; }
        #stats #moves-height-weight #moves-container #moves-btn p {
          margin: 0; }
        #stats #moves-height-weight #moves-container #moves-btn:focus {
          outline: none; }
      #stats #moves-height-weight #moves-container span {
        text-decoration: underline; }
      #stats #moves-height-weight #moves-container #moves {
        overflow: auto;
        height: 90%;
        padding-left: 15px; }
    #stats #moves-height-weight #height-weight {
      width: 40%;
      height: 40%;
      padding: 20px;
      background: #bbb;
      border-radius: 20px; }

.glyphicon {
  font-size: 5em; }
  .glyphicon:hover {
    color: white; }

#left-container {
  display: flex;
  align-items: center;
  justify-content: center; }

#right-container {
  display: flex;
  align-items: center;
  justify-content: center; }

@media screen and (max-width: 500px) {
  #start {
    width: 90vw; }
    #start #start-name {
      width: 100%; }

  #search #select {
    margin-right: 0 !important; }
  #search #input-name {
    font-size: 0.8em; }
  #search #search-btn {
    font-size: 0.8em; }

  #id-name-type-container {
    flex-wrap: wrap; }
    #id-name-type-container #id-and-name {
      font-size: 0.9em; }

  #types {
    font-size: 0.7em; }

  #stats {
    font-size: 0.8em; }

  .loading {
    min-width: 120px;
    margin-left: 5px; } }
body {
  font-family: 'pokemon';
  background-image: url("https://images3.alphacoders.com/628/62865.jpg");
  background-size: cover;
  background-repeat: no-repeat; }

.main-container {
  height: 100vh; }

.hidden {
  display: none; }

.loading {
  width: 33% !important;
  pointer-events: none;
  background: grey !important;
  color: white; }
  .loading:hover {
    background: grey !important; }

.master-ball {
  background: #7e308e !important; }

.master-ball:before,
.master-ball:after {
  content: '';
  height: 40px;
  width: 28px;
  background: #e02a82;
  position: absolute;
  border: 1px solid black;
  border-radius: 50%;
  top: 3%; }

.master-ball:before {
  left: 3%;
  transform: rotate(-130deg); }

.master-ball:after {
  right: 3%;
  transform: rotate(130deg); }

.clickable:hover {
  cursor: pointer;
  color: #888; }

.is-clicked {
  background: #0f0; }

/*# sourceMappingURL=style.css.map */
