@font-face {
  font-family: 'pokemon';
  src: url('../public/pokemon.ttf');
}
@import './partials/animations';
@import './partials/types';
@import './partials/start';
@import './partials/variables';
@import './partials/pokedex';
@import './partials/top';
@import './partials/bottom';
@import './partials/middle';
@import './partials/middle-search';
@import './partials/id-name-type';
@import './partials/pokemon-list';
@import './partials/img-and-description';
@import './partials/stats.scss';
@import './partials/leftright.scss';
@import './partials/media-queries';

body {
  font-family: 'pokemon';
  background-image: url('https://images3.alphacoders.com/628/62865.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.main-container {
  height: 100vh;
}

.hidden {
  display: none;
}

.loading {
  width: 33% !important;
  pointer-events: none;
  background: grey !important;
  color: white;

  &:hover {
    background: grey !important;
  }
}

.master-ball {
  background: #7e308e !important;
}

.master-ball:before,
.master-ball:after {
  content: '';
  height: 40px;
  width: 28px;
  background: rgb(224, 42, 130);
  position: absolute;
  border: 1px solid black;
  border-radius: 50%;
  top: 3%;
}

.master-ball:before {
  left: 3%;
  transform: rotate(-130deg);
}

.master-ball:after {
  right: 3%;
  transform: rotate(130deg);
}

.clickable {
  &:hover {
    cursor: pointer;
    color: #888;
  }
}

.is-clicked {
  background: #0f0;
}
