#bottom {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 550px;
    margin: 0 auto;
    height: 15%;
    border: 2px solid $main-color;
    background: linear-gradient(to left, $main-color, rgb(240, 82, 82));
    border-top: 0;
    border-radius: 0 0 20px 20px;

    .corner {

    }

    #half-circle-bottom {
        align-self: flex-start;
        background-color: white;
        width: 100px;
        height: 50px;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
        border: 5px solid black;
        border-top: 0;
    }

    .smaller-half-circle {
        margin: 0 auto 40% auto;
        width: 20px;
        height: 10px;
        background-color: white;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        border: 2px solid black;
        border-top: 0;
    }
}