@media screen and (max-width: 400px) {
    #id-and-name {
        font-size: 0.9em;
        white-space: nowrap;
    }

    #type {
        font-size: 0.9em;
    }

    #stats {
        font-size: 0.8em;
    }
}