#search {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3% 0;
    font-family: 'pokemon';
    white-space: nowrap;

    #select {
        height: 30px;
        margin: 0 3%;

        &:focus {
            outline:none;
        }
    }

    form {           
        display: flex;
        justify-content: space-evenly;
        width: 70%;

        input {
            padding: 5px;
            width: 55%;
        }

        #search-btn {
            width: 27%;
            border-radius: 10px;
            padding: 5px 8px;
            background-color: #8f8;
            border: 1px solid green;

            &:hover {
                background-color: #0f0;
            }

            &:focus {
                outline: none;
            }

            &:active {
                background-color: green;
            }
        }
    }
}