#middle {
    height: 68%;
    background-color: lightblue;
    max-width: 550px;
    width: 100%;

    #search {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 3% 0;
        font-family: 'pokemon';
        white-space: nowrap;

        #select {
            height: 30px;
            margin: 0 3%;
        }

        form {           
            width: 70%;

            input {
                padding: 5px;
                width: 63%;
            }

            #search-btn {
                width: 27%;
                border-radius: 10px;
                padding: 5px 8px;
                background-color: #8f8;
                border: 1px solid green;

                &:hover {
                    background-color: #0f0;
                }
            }
        }
    }
}