@mixin types($color) {
  background-color: $color;
  color: #eee;
  padding: 6px;
  border-radius: 10px;
}

.normal {
  @include types(#a8a878);
}

.fighting {
  @include types(#c03028);
}

.flying {
  @include types(#a890f0);
}

.poison {
  @include types(#a040a0);
}

.ground {
  @include types(#e0c068);
}

.rock {
  @include types(#b8a038);
}

.bug {
  @include types(#a8b820);
}

.ghost {
  @include types(#705898);
}

.steel {
  @include types(#b8b8d0);
}

.fire {
  @include types(#f08030);
}

.water {
  @include types(#6890f0);
}

.grass {
  @include types(#78c850);
}

.electric {
  @include types(#f8d030);
}

.psychic {
  @include types(#f85888);
}

.ice {
  @include types(#98d8d8);
}

.dragon {
  @include types(#7038f8);
}

.dark {
  @include types(#705848);
}

.fairy {
  @include types(#ee99ac);
}
