@font-face {
    font-family: 'pokemon';
    src: url('./font/pokemon.ttf');
}
@import './partials/media-queries';
@import './partials/animations';
@import './partials/start';
@import './partials/variables';
@import './partials/pokedex';
@import './partials/top';
@import './partials/bottom';
@import './partials/middle';
@import './partials/middle-search';
@import './partials/id-name-type';
@import './partials/img-and-description';
@import './partials/stats.scss';

html {
    height: 100%;
}

body {
    height: 100%;
    font-family: 'pokemon';
    background-image: url('https://images3.alphacoders.com/628/62865.jpg');
    background-size: cover;
}

.hidden {
    display: none;
}