@font-face {
    font-family: 'pokemon';
    src: url('./font/pokemon.ttf');
}
@import './partials/animations';
@import './partials/start';
@import './partials/variables';
@import './partials/pokedex';
@import './partials/top';
@import './partials/bottom';
@import './partials/middle';
@import './partials/middle-search';
@import './partials/id-name-type';
@import './partials/img-and-description';

html {
    height: 100%;
}

body {
    height: 100%;
    font-family: 'pokemon';
}

.hidden {
    display: none;
}