#pokedex {
  height: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pokedex-shell {
  display: flex;
  border: 5px solid $main-color;
  justify-content: center;
  border-right: 2px solid $main-color;
  min-height: 100px;
  max-height: 166px;
  max-width: 550px;
  height: 16%;
  width: 100%;
}
